<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readit</title>
</head>
<body>
    <%- include("./partials/pageHeader") %>
    <% if(!locals.user) {%>
        <a href="/signup">Sign up</a>
        or
        <a href="/login">Login</a>
        <% } %>
    <main>
        <% if(messages.length > 0) {%>
            <section>
                <% messages.forEach(message => { %>
                    <% if(!locals.user || !["admin", "member"].includes(locals.user.role)) {
                        message.username = "Anonymous";
                        message.timestamp = "";
                    } %>
                    <article>
                        <h3><%= message.title %></h3>
                        <p><%= message.message_text %></p>
                        <p><%= message.username %></p>
                        <p><%= message.timestamp %></p>
                    </article>
                    <%})%>
            </section>
            <%} else {%>
                <h2>No messages.</h2>
            <%}%>
            <% if(locals.user && ["admin", "member"].includes(locals.user.role)) {%>
                <a href="">Add a message</a>
            <% } %>
    </main>
</body>
</html>