<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Readit</title>
</head>
<body>
    <%- include("./partials/pageHeader") %>
    <main class="w-screen mx-auto md:w-1/2 p-2">
        <% if(messages.length > 0) {%>
            <section class="my-3">
                <% messages.forEach(message => { %>
                    <% if(!locals.user || locals.user.role == "Guest") {
                        message.username = "Anonymous";
                        message.timestamp = "";
                    } %>
                    <article class="py-2">
                        <h3 class="text-xl font-bold border-b"><%= message.title %></h3>
                        <p><%= message.message_text %></p>
                        <div class="flex items-center gap-2">
                            <p class="text-sm"><%= message.username %></p>
                            <p class="text-sm"><%= message.timestamp %></p>
                            <% if(locals.user && locals.user.role === "Admin") {%>
                                <%-include("./partials/deleteMessageButton", {id: message.id})%>
                                                   <% } %>
                        </div>
                    </article>
                    <%})%>
            </section>
            <%} else {%>
                <h2>No messages.</h2>
            <%}%>
            <% if(locals.user) {%>
                <a class="inline-block p-2 bg-green-700 text-white border float-end" href="/new-message">Add a message</a>
            <% } else {%>
                <p class="p-2 border bg-red-400 text-white w-fit float-end">You must register or login to add a message</p>
                <% } %>
    </main>
</body>
</html>