<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Readit</title>
</head>
<body class="h-screen overflow-hidden">
    <%- include("./partials/pageHeader") %>
    <main class="w-screen mx-auto lg:w-1/2 px-2">
        <% if(messages.length > 0) {%>
            <section class="py-3 overflow-y-auto max-h-[80vh] scroll-m-2 pr-2 relative">
                <% messages.forEach(message => { %>
                    <% if(!locals.user || locals.user.role == "Guest") {
                        message.username = "Anonymous";
                        message.timestamp = "";
                    } %>
                    <article class="py-2">
                        <h3 class="text-xl font-bold border-b"><%= message.title %></h3>
                        <p><%= message.message_text %></p>
                        <div class="flex items-center gap-2">
                            <p class="text-sm"><%= message.username %></p>
                            <p class="text-sm text-neutral-500"><%= message.timestamp %></p>
                            <% if(locals.user && locals.user.role === "Admin") {%>
                                <%-include("./partials/deleteMessageButton", {id: message.id})%>
                                                   <% } %>
                        </div>
                    </article>
                    <%})%>
                    <% if(locals.user) {%>
                <a class="sticky bottom-0 p-2 bg-green-700 text-white border float-end" href="/new-message">Add a message</a>
            <% } else {%>
                <p class="p-2 border sticky bottom-0  bg-red-400 text-white w-fit float-end">You must register or login to add a message</p>
                <% } %>
            </section>
            <%} else {%>
                <h2>No messages.</h2>
            <%}%>
            
    </main>
</body>
</html>